<!DOCTYPE html>
<html>
<head>
  <title>NARRAVI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
				<%= link_to "NARRAVI", root_path, class: "navbar-brand logo" %>
		</div>

		<ul class="nav navbar-nav">
			<li><%= link_to "Sign Up", new_user_registration_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Log In", new_user_session_path %></li>
			<% end %>
		</ul>

		<% if user_signed_in? %> 
		<p><%= link_to "Write something", new_message_path, class: "navbar-right navbar-text" %></p>
		<% end %>
	</div>
</div>

<div class="container white">
	<div class="row">
		<div class="col-lg-12 text-center">
		<p class="note"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		</div>
	</div>
</div>

<div class="container white">
	<div class="row">
		<div class="col-lg-12">
		<%= yield %>
		</div>
	</div>
</div>


<br />


<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<hr>
			<small class="footerText">Made with love by <a href="http://www.laurencaponong.com">Lauren Caponong</a>.<br/> Check me out on <a href="https://twitter.com/laurencaponong">Twitter</a> or <a href="https://github.com/laurencaponong">Github</a></small>.
		</div>
	</div>
</div>

</body>
</html>
